window {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 25pt;
  color: #cdd6f4;
	background-color: rgba(30, 30, 46, 0.90);
}

button {
  min-width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  border-style: solid;
  border-width: 3px;
  background-color: rgba(12, 12, 12, 0.3);
  border-color: #313244;
  margin: 5px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

button:focus, button:active, button:hover {
	background-color: rgb(48, 50, 66);
	outline-style: none;
}


#lock {
    background-image: url("/home/filak/.config/wlogout/icons/lock.svg");
}

#suspend {
    background-image: url("/home/filak/.config/wlogout/icons/suspend.svg");
}

#shutdown {
    background-image: url("/home/filak/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/filak/.config/wlogout/icons/reboot.svg");
}


